<section class="main-section index-page">
  <div class="container">
      <h1 class="title">Hi I'm Jonathan</h1>
      <p class="content">This is the start of my website.
        See the <a href="http://blog.jonathankolb.com">blog</a> for updates
      </p>
  </div>

  <div class="instagramStream">
  </div>

</section>

<script type="text/javascript" src="/js/dist/index-page.js"></script>
