<div class="off-canvas-wrap" data-offcanvas>

  <div class="inner-wrap">

    <nav class="tab-bar">

      <section class="left-small">

        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>

      </section>

    </nav>



    <aside class="left-off-canvas-menu">

      <ul class="off-canvas-list">

        <li><a href="/"><label>JonathanKolb.com</label></a></li>

        <li><a href="http://blog.jonathankolb.com">My Blog</a></li>

        <li><a href="#" class="off-canvas-submenu-call">Social <span class="right"> + </span></a></li>

              <ul class="off-canvas-submenu">

                <li><a class="fi-social-github" href="https://github.com/fumblesandfriends">Github</a></li>

                <li><a class="fi-social-linkedin" href="https://www.linkedin.com/pub/jonathan-kolb/27/376/7a5">LinkedIn</a></li>

              </ul>
      </ul>

    </aside>



    <section class="main-section index-page">
      <div class="container">
          <h1 class="title">Hi I'm Jonathan</h1>
          <p class="content">This is the start of my website.
            See the <a href="http://blog.jonathankolb.com">blog</a> for updates
          </p>
      </div>

      <div class="instagramStream">
      </div>

    </section>



  <a class="exit-off-canvas"></a>



  </div>

  <script type="text/javascript" src="/js/dist/index-page.js"></script>
</div>
