<section class="main-section instagram-stream-page">

  <h1>Instagram Stream</h1>

  <p>
    The demo lets you specify an instagram tag and then streams recent photos
    that apply to that tag. More info about this project will be on the blog soon.
  </p>


  <div class="instagram-stream">
    <form class="instagram-stream__form">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" class="tag_input" placeholder="Enter a tag...">
        </div>
        <div class="small-2 columns">
          <a href="#" class="do_submit button prefix">Search</a>
        </div>
      </div>
    </form>
    <div class="row collapse instagram-stream-results"></div>
  </div>
</section>
<script type="text/javascript" src="/js/dist/instagram-stream-page.js"></script>
