#blog {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-image: url(http://i.imgur.com/INpCcON.jpg);
  background-size: cover;
  background-position: center;
  color: $pri-white;

  .text-mask {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    @include background-image(linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,.4)));
  }

  .container {
    position: relative;
    z-index: 2;
  }
}
