.index-page {
  h2 {
    text-align: center
  }

  @include respond-to($media-xs) {
    text-align: center;
  }

  #blog {
    text-align: center;
  }

  @import 'frag/serverStats';
  @import 'frag/footer';
}
