.index-page {
  .container {
    margin: auto;
    text-align: center;
  }

  .title {
    display: none;
  }

  .content {
    display: none;
    padding-top: 45px;
  }

  .server-stats {
    padding-top: 45px;

    .cpu-data {
      display: inline-block;
    }

    .cpu-data__title,.memory-data__title,.load-data__title {
      font-size: 24px;
      padding-bottom: 20px;
    }

    .memory-data__title,.load-data__title {
      padding-bottom: 54px;
    }

    .cpu,.memory,.load {
      padding-left: 15px;
      padding-right: 15px;
      display: inline-block;
    }

    .cpu-data {
      padding-top: 25px;
    }

    .memory,.load {
      vertical-align: top;
      padding-top: 25px;
    }

    .cpu__name, {
      padding-bottom: 10px;
    }

    .cpu__graph_title,.memory-data__chart_name,.load-data__chart_name {
      padding-top: 10px;
    }

  }
}
