@import 'vendor/normalize';
@import 'vendor/foundationIcons';
@import 'vendor/foundation';

body {
  font-family: 'Muli', sans-serif;
}

.main-section {
  text-align: center;
  margin: auto;
  padding-top: 45px;
}

.container-content {
  min-height: 350px;
}

h1,h2,h3,h4,h5 {
  font-family: 'Oswald', sans-serif;
}

@import 'index';
